<!DOCTYPE html>
<html>
  <head>
    <title>英文单词听写</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="英文单词听写,英语单词听写,单词,听写,dictation,english">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"  %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer"  %>
  </body>
</html>
